@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

a
{
	text-decoration: none;
}

ul
{
	list-style-type: none;
}

body
{
	font-family: arial, helvetica, sans-serif; font-size: 16px;
}

audio
{
	display: block;
}

.audio-controls
{
	margin-top: 1.5em;
	border-top: thin solid #333;
}

.audio-controls button
 {
	padding: 0.5em 1em;
	margin-top: 0.5em;
	background-color: green;
	color: white;
	font-size: 1.25em;
	cursor: pointer;
}

.track-href
{
	cursor: pointer;
	padding: 1em;
}
